@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
q,
small {
    padding: 0;
    margin: 0;
    font-family: "Atami", Arial, Helvetica, sans-serif;
}

li,
label,
button,
a,
th,
td {
    font-family: "Atami", Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.25rem;
}

textarea {
    resize: none;
}

.background-blur {
    backdrop-filter: blur(90px);
}

.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(90px);
}

.button-hover {
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.button-hover:hover {
   background-color: #fdf8f1;
}

.text-button {
    color: #FF1515;
    transition: color 0.5s ease-in-out;
}

.text-button:hover {
    color: #b10000;
}

.card {
    background-color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.card:hover {
    background-color: #dcdffb;
    color: #000d8a;

}

.card div {
    border: 1px solid black;
    border-radius: 6px;
    transition: border-color 0.5s ease-in-out
}

.card:hover div {
    border-color: #000d8a;
}

.card-background {
    background-color: white;

}

.card-blur {
    backdrop-filter: blur(10px);
}

.zed-card {
    z-index: 1;
}

.graphics-borders-right {
    background: linear-gradient(to left, #f3f3f3, rgba(197, 197, 197, 0));
}

.graphics-borders-left {
    background: linear-gradient(to right, #f3f3f3, rgba(197, 197, 197, 0));
}

.hero-load {
    animation: fade-in 2s ease-in 1s forwards;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@font-face {
    font-family: "Atami";
    src: url("../fonts/Atami-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atami";
    src: url("../fonts/Atami-Bold.otf");
    font-weight: bold;
    font-style: normal;
}